* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: green;
}

#subtitulo {
    color: purple;
}

.box {
    height: 150px;
    width: 150px;
    background: #cecece;
    padding: 10px;
    margin: 10px;
    
}
.rounded {
    border-radius: 10px;
}

.yellow {
    background: yellow;
    border-radius: 0;
}

.purple {
    background: purple;
}

img[data-border] {
    height: 150px;
    border: 5px solid red;
}

input[type="text"] {
    background: #cecece;
    border: 0;
    outline: 0;
    height: 52px; /** Altura */
    width: 100%; /** Largura */
    padding: 16px;
    font-size: 18px;
    margin-bottom: 16px;
}

button {
    height: 52px;
    width: 100%;
    padding: 16px;
    border: 0;
    background: black;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-bottom: 16px;
}

/* button:hover { */
    /* background: #353535; */
    /* opacity: 0.6; */
    /* transform: scale(1.1); */
    /* background: red; */
/* } */
/* Configuração apenas para buttons habilitados */
button:not(:disabled):hover {
    /* background: #353535; */
    /* opacity: 0.6; */
    /* transform: scale(1.1); */
    background: red;
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
/* input[type="text"] */

.container {
    width: 720px;
}


.container-full {
    width: 80%;
    height: 500px;
    border: 5px dashed red;
    position: relative;
}


.box-item {
    height: 100px;
    width: 100px;
    background: green;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .container-full {
    width: 80%;
    height: 500px;
    border: 5px dashed red;
    position: relative;
} */


/* .box-item { */
    /* height: 100px; */
    /* width: 100px; */
    /* background: green; */
    /* margin: 0 auto; */
    /* position: relative; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* transform: translate(-50%, -50%); */
/* } */